html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #f1f2ee;
  margin: 0;
}

nav ul {
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: space-around;
  font-size: 30px;
}

.nav__link {
  color: #393d3f;
  text-transform: uppercase;
}

.home {
  background-color: #222222;
  margin: 0;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: space-around;
}

.home__card {
  width: 40%;
  display: flex;
  justify-content: center;
}

.home__card img {
  width: 75%;
  height: 75%;
  margin: auto;
  display: block;
  border-radius: 10%;
}

.home__text {
  font-size: 30px;
  color: #f1f2ee;
  width: 40%;
  display: flex;
  flex-direction: column;
}

.home__text__welcome {
  text-align: center;
  font-size: 50px;
  margin-bottom: 0;
  margin-top: 100px;
}

.home__text__other {
  font-display: 30px;
  margin-bottom: 5px;
}

.home__text__links {
  margin-top: 5px;
  padding: 0;
}

.home__text__links a {
  color: inherit;
}

.skills {
  margin: 0;
  width: auto;
  height: auto;
}

.skills h2 {
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  color: #393d3f;
  margin: 10px 0 10px 0;
}

.skills__section {
  display: flex;
  justify-content: center;
}
.skills__section:last-child {
  margin-bottom: 25px;
}

.skills__carousel {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.skills__section__title {
  font-size: 25px;
  text-transform: uppercase;
  color: #393d3f;
  text-align: center;
  margin-top: 10px;
}

.skills__carousel__card {
  margin: 0px 30px 0px 30px;
}

.skills__carousel__card img {
  width: 200px;
  height: 200px;
}

.experience {
  width: 100%;
  height: 600px;
  background-color: #222222;
}

.contact {
  height: auto;
  align-items: center;
}

.contact ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin-top: 50px;
}

.contact a {
  font-size: 25px;
  color: #393d3f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact img {
  width: 50px;
  height: 50px;
}

.contact__text {
  margin-left: 10px;
}

a {
  text-decoration: none;
}

a:hover {
  color: gray;
}

footer {
  display: flex;
  justify-content: center;
  margin: 10px 0;
  padding-top: 10px;
  color: #393d3f;
}
